/* jumbotron section */
.jumbotron {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 90%
    ),
    url("../images/home_bg.jpg");
  background-size: cover;
  height: calc(100vh - 85px);
}
#jumbotronH1 h1 {
  font-size: 5rem;
  font-weight: bold;
  color: white;
}
#jumbotronDetails p {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}
#jumbotronDetails button {
  border: 0;
  padding: 10px 20px;
  color: white;
  background: var(--primarycolor);
  font-weight: bold;
  font-size: 1.2rem;
  transition: margin-top 0.1s ease-out, background 0.1s ease-in;
}
#jumbotronDetails button:hover {
  background: var(--lightcolor);
}

/* informations section */
.informative-cards {
  padding: 0px;
  overflow: hidden;
  /* border:1px solid red; */
  margin-inline: 20px;
  border-radius: 10px;
  margin-top: -50px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0px 0px 20px 1px rgb(27, 27, 27, 0.4);
}
.informative-cards-img {
  width: 100%;
}
.informative-cards-header {
  padding: 20px;
  text-align: center;
  color: black;
  font-weight: 900;
  font-size: 3rem;
}
.informative-cards > .row > .col-12 {
  position: relative;
}
.informative-cards > .row > .col-12 > h3 {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-shadow: 1px 1px 5px rgb(27, 27, 27, 0.4);
}
.gradient-overlay-black {
  position: relative;
}
.gradient-overlay-black::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(5, 21, 105, 0.3) 60%,
    rgba(4, 16, 122, 1)
  );
  /* opacity: 0.8; */
}
/* slider/carousel */
.shs-programs{
  height: calc(90vh - 85px);
  margin-bottom: 50px;
}
#shsProgramsCarousel{
  border-radius: 10px;
  overflow: hidden;
}
.shs-slide{
  position: relative;
}
.shs-slide h1{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  color: white;
  font-size:5rem;
  text-align: center;
  text-shadow: 1px 1px 4px black;
}
