.main-logo-img {
  width: 45px;
  height: 45px;
  margin-right: 4px;
}
.main-logo div h3 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  color: var(--primarycolor);
}
.main-logo div p {
  margin: 0;
  font-size: .8rem;
  color: var(--primarycolor);
}
/* custom navbar links */
.custom-navbar-links {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primarycolor);
}
/* custom navbar */
.navbar-light{
  box-shadow: 0 1px 10px 2px rgb(27,27,27,.2);
  background-color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--primarycolor);
  opacity: 0.7;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--primarycolor);
  opacity: 1;
  box-shadow: 0 5px 0px -2px var(--primarycolor);
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .main-logo-img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
  }
  .main-logo div h3 {
    font-size: 1.5rem;
  }
  .main-logo div p {
    font-size: 1rem;
  }
}
